@import '../../variable';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: $very-dark-blue;
}

.modal-content {
  @include card-styles(center, center, 35px);

  .modal-image {

    img {
      width: 142px;
      margin-bottom: 10px;
    }
  }

  .modal-selected-rate {

    margin-bottom: 4px;

    p {
      color: $orange;
      background-color: $medium-grey;

      padding: 6px 12px 3px;
      border-radius: 20px;
    }
  }

  h3 {
    margin-top: 8px;
  }

  p {
    margin-bottom: 4px;
    line-height: 22px;
  }
}